body {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    width: 1200px;
    background-color: #888888;
    height: 2000px;
    -ms-flex-item-align: center;
        align-self: center;
    margin: 0px auto;
    padding: 0 auto;
}

.header-ppal{
    background-color: rgb(255, 60, 0);
    height: auto;
    
}

.menu-sup{
    height: 100px;
    background-color: rgb(207, 211, 211);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;

}
.logo_ppal{
    width:200px;
    height: 90px;
}
.contenedor-logo{
    width: 100%;
    height: inherit;
    background-color: azure;
    text-align: center;
}

.titulo-pagina{
    margin: 0;
    padding: 0.36em 0;
}

.contenedor-imagen{
    
    height: 240px;
    /* margin-bottom: 20px; */
}
.banner-img{
    width:1200px;
    height: 225px;

}

.menu-superior{
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.nav-element{
    padding: 1em 15px;
    display: inline-block;
    text-decoration: none;
    color: #3e3e3e;

}

.nav-element:hover{
    text-decoration: underline;
    font-weight: bold;
}
.menu-botones{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu-botones__elm{
    line-height: 3;
}

.menu-botones__link{
    text-decoration: none;
    font-size: 1em;
    color: #3e3e3e;
}
