body {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-ppal {
    height: auto;
}

.menu-sup {
    height: 100px;
    background-color: rgb(207, 211, 211);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.logo_ppal {
    width: 200px;
    height: 90px;
}

.contenedor-logo {
    width: 100%;
    height: inherit;
    background-color: azure;
    text-align: center;
}

.titulo-pagina {
    margin: 0;
    padding: 0.36em 0;
}

.contenedor-imagen {
    height: 225px;
    /* margin-bottom: 20px; */
}

.banner-img {
    width: 1200px;
    height: 225px;
}

.menu-superior {
    padding: 0.25em 0;
    list-style-type: none;
    text-align: end;
    width: 100%
}

.menu-botones {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.menu-botones__elm {
    line-height: 3;
}

.menu-botones__link {
    text-decoration: none;
    font-size: 1em;
    color: #3e3e3e;
}

.miembros {
    display: flex;
    background-color: #a4302c;
    padding: 10px;
    border: 1px solid black;
    justify-content: space-evenly;
}

.miembros div {
    background-color: whitesmoke;
    margin: 5px;
    text-align: center;
    font-size: medium;
    border: 1px solid black;
    width: 250px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #bec0c2;
    flex-wrap: wrap;
    color: #0d0d0d;
}

.info {
    width: 580px;
    padding-left: 20px;
    text-align: center;
}

.contactos {
    width: 580px;
    text-align: right;
    padding-right: 20px;
}

.info__logo:visited {
    color: #000;
}

.info__logo:hover {
    color: #707273;
}

.info__parrafo {
    text-align: left;
}

.lista-miembros__item {
    list-style: none;
}

.contactos__titulo {
    width: 600px;
    text-align: center;
}

.texto {
    width: 1200px;
    text-align: center;
}